body{
    
    color: #444;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 60%;
    background-color: #F8EDE3;
    margin: 0 auto;
    padding: 2% 0;
}
main{
    background-color: white;
    padding: 20px;
}

h1 {
    color: rgb(140, 76, 8);
}
h2 {
    color: rgb(140, 76, 8);
}

section{
margin-top: 0px;
padding-bottom: 5px;
border-top: solid 1px gray;
}